.auth-login{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/asset/image/bg-1.jpg);
    background-size: cover;
    object-fit: contain;
    background-repeat: no-repeat;
}

.login{
    top: 70px;
    position: relative;
    background-color: #F1F8E8;
    width: 50%;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #aaaaaa;
}

.login .myForm{
    width: 50%;
    height: 300px;
    background-color: #95D2B3;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    gap: 10px;
    border-radius: 10px;
}

.login .myForm > div{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: bold;
}
.login .myForm > h1{
    text-align: center;
    color: #fff;
}
.login .myForm > div > input{
    flex: 60%;
    border: none;
    height: 20px;
    border-radius: 5px;
}

.login .myForm > div > label{
    flex: 40%;
}

.login .myForm > div:last-child{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.login .myForm > div > button{
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #FBF3D5;
    color: #9CAFAA;
    font-weight: bold;
    box-shadow: 1px 1px 5px #aaaaaa;
}

.login .myForm > div > button:hover{
    background-color: #f7eabb;
}

/* CSS Data Survey */
.form-survey{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: arial;
    background-color: #F1F8E8;
    color: #fff;
}

h1{
    color: #55AD9B;
    text-shadow: 1px 1px 5px #aaaaaa;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    height: 60%;
    padding: 30px 50px;
    border-radius: 15px;
    background-color: #95D2B3;
    justify-content: space-between;
    box-shadow: 10px 10px 15px #aaaaaa;
}

.container .data-survey{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.container .data-survey .name label{
    font-weight: bold;
}

.container .data-survey .name > div > input{
    border: none;
    height: 20px;
    border-radius: 5px;
    background: #e8e8e8;
    transition: 0.3s;
}

.container .data-survey .name > div > input:focus{
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
           inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

.container .data-survey .age > div > input{
    border: none;
    height: 20px;
    border-radius: 5px;
    background: #e8e8e8;
    transition: 0.3s;
}

.container .data-survey .age > div > input:focus{
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
           inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

.container .data-survey .age label{
    font-weight: bold;
}
.container .data-survey .gender div:first-child{
    font-weight: bold;
}
.container .data-survey .isSmoke div:first-child{
    font-weight: bold;
}
.container .data-survey .variant > div:first-child{
    font-weight: bold;
}

.container .data-survey .button{
    display: flex;
    justify-content: center;
}

.container .data-survey .button button{
    width: 50%;
    height: 30px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #55AD9B;
    box-shadow: 2px 2px 5px #aaaaaa;
}

.container table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    height: 20px;
    text-align: left;
    padding: 5px 10px;
}

.container .table{
    flex: 1;
    border: 1px solid black;
    padding-left: 50px;
    font-size: 14px;
}

.container .table thead{
    background-color: #55AD9B;
}

/* Overlay */
.overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    gap: 10px;
}

.overlay > div:first-child > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.overlay.hide{
    display: none;
}