body{
    font-family: Arial, Helvetica, sans-serif;
}

.login{
    top: 70px;
    position: relative;
    background-color: #FBF3D5;
    width: 50%;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.login .myForm{
    width: 50%;
    height: 300px;
    background-color: #9CAFAA;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    gap: 10px;
    border-radius: 10px;
}

.login .myForm > div{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: bold;
}
.login .myForm > h1{
    text-align: center;
    color: #fff;
}
.login .myForm > div > input{
    flex: 60%;
    border: none;
    height: 20px;
    border-radius: 5px;
}

.login .myForm > div > label{
    flex: 40%;
}

.login .myForm > div:last-child{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.login .myForm > div > button{
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #FBF3D5;
    color: #9CAFAA;
    font-weight: bold;
}

.login .myForm > div > button:hover{
    background-color: #f7eabb;
}